

<div class="container">
  <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="account-settings">
            <div class="user-profile">
              <div class="user-avatar">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Maxwell Admin">
              </div>
              <h5 class="user-name">Yuki Hayashi</h5>
              <h6 class="user-email">yuki@Maxwell.com</h6>
            </div>
            <div class="about">
              <a href="/changepwd" [routerLink]="'/changepwd'" >Modifier Mot de passe</a>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mb-3 text-primary">Information personel</h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="fullName">Nom & Prénom</label>
                <input type="text" class="form-control" id="fullName" placeholder="Nom & Prénom">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="eMail">E-mail</label>
                <input type="email" class="form-control" id="eMail" placeholder="E-mail">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="phone">Portable</label>
                <input type="text" class="form-control" id="phone" placeholder="Enter votre numero portable">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="website">Adresse complet</label>
                <input type="url" class="form-control" id="website" placeholder="Adresse complet ">
              </div>
            </div>
          </div>

           <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="Street">Street</label>
                <input type="name" class="form-control" id="Street" placeholder="Enter Street">
              </div>
            </div> -->
           <!--  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="ciTy">City</label>
                <input type="name" class="form-control" id="ciTy" placeholder="Enter City">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="sTate">State</label>
                <input type="text" class="form-control" id="sTate" placeholder="Enter State">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="zIp">Zip Code</label>
                <input type="text" class="form-control" id="zIp" placeholder="Zip Code">
              </div>
            </div>
          </div> -->
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="text-right">
                <button type="button" id="submit" name="submit" class="btn btn-secondary">Annuler</button>
                <button type="button" id="submit" name="submit" class="btn btn-primary">Modifier</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

