body{
    margin-top:20px;
    color: #bcd0f7;
      background: white;
      
  }
  .account-settings .user-profile {
    margin-top: 0px;
      margin: 0 0 1rem 0;
      padding-bottom: 1rem;
      text-align: center;
  }
  .account-settings .user-profile .user-avatar {
      margin: 0 0 1rem 0;
  }
  .account-settings .user-profile .user-avatar img {
      width: 90px;
      height: 90px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
  }
  .account-settings .user-profile h5.user-name {
      margin: 0 0 0.5rem 0;
  }
  .account-settings .user-profile h6.user-email {
      margin: 0; font-size: 12px;
    //   font-size: 0.8rem;
    //   font-weight: 400;
}
// .nom{
//     color:rgb(104, 112, 119);
// }
.aboutt{
    font-size: 15px;
    text-align: center;
    
}
  .account-settings .about {
      margin: 1rem 0 0 0;
      font-size: 0.8rem;
      text-align: center;
  }
  .card {
      background: white;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 0;
      margin-bottom:   0em;
      margin-top: 0px;
  }
  .b {
    float: left;
    width: 10%;
    padding: 2px;
    // background: #6c6e6e;
    color: white;
    font-size: 16px;
    // border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor:default;
  }
  .form-group{
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 20px;
    outline: none !important; 
  }
  .primary{
    font-size: 14px;
    color: black;
    font-weight:bold;
  }

  .form-control {
      border: 1px solid #596280;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      font-size: .825rem;
      background: white;
      color: rgb(63, 65, 66);
      min-height: 47px;
      box-shadow: none;
      font-size: 12px;
  
  }



  .form {
    border: 1px solid #596280;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .100rem;
    width: 760px;
    background: white;
    color: rgb(63, 65, 66);
    min-height: 36px;
    box-shadow: none;
    font-size: 12px;

}






  
  .mat-toolbar.mat-primary {
    background-color: #2A2F46;
    margin-bottom: 0px;

}
.mat-toolbar.mat-secondary {
    background-color: #1A1A1A;
    margin-top: 0px;
    margin-bottom: 60px;


}
.mat-toolbar.mat-primary .mat-button{
    color: #FFFFFF ;
    font-size: 8pt;
    font-weight: bold;
    font-family:  Helvetica ;
}
.mat-toolbar.mat-secondary .mat-button{
    color: #FFFFFF ;
    font-size: 10pt;
    font-weight: lighter;
    font-family:  Helvetica ;
}
.mat-toolbar.mat-footerColor{
    background-color: #EB692D;
}
.mat-toolbar.mat-footerColor .mat-button{
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF ;
    font-size: 10pt;
    font-weight: lighter;
    font-family:  Helvetica ;
}

label .somme-label {
    color: #EB692D;
    margin-left: auto;
    margin-right: auto;
}
.mat-toolbar.mat-footerColor a.nav-link{
    text-decoration: none;
}

.input-group{
    margin-left: auto ;
    margin-right: auto;
    width: 760px ;
    height: 37px;

}
.navbar-titles{
    font-weight: lighter;

}
.navText{
    font-size: 8pt;
    font-family:  Helvetica;
    font-weight: lighter;
}
mat-icon {
    color: #EB692D;
}
.icons-footer{
    margin-right: 25%;
    font-weight: none;
}
.flag-footer{
    margin-left: -10%;
;
}
footer{
position: relative;
bottom: 0;
left: 0;
width: 100%;
clear: both;
}
select{
    background: transparent;
    color: white;
    border: 1px solid #1A1A1A;
}
.footer-title{
    color: white;
    font-weight: bolder;

}
.ul-liste{
color: #E6E6E6;
list-style-type:none;
}
h3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em;}

.b {
    float: left;
    width: 5%;
    padding: 5px;
    // background: #6c6e6e;
    color: white;
    font-size: 16px;
    // border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor:default;
  }

  .btnn {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #eee;
  }