<mat-toolbar color="primary"  >
  <mat-toolbar-row>
    <img src="../assets/daijaraIcon.png" width=" 118,327px" alt="">
    <div fxShow="true" fxHide.lt-md="true"  class="input-group">
      <input  type="text" class="form" placeholder="Tout nos catégories">
      <!-- <button type="submit" class=" b"><i class="fa fa-search"></i></button> -->
      <!-- <div class="input-group-append">
        <button class="btn btn-secondary" type="button">
          <i class="fa fa-search"></i>
        </button>
      </div> -->
    </div>
    <img width="20px" height="20px" src="../assets/user.png" alt="">
    <a mat-button [routerLink]="'/login'">  S' IDENTIFIER </a>

    <a mat-button [routerLink]="'/cart'"> <img src="../assets/image.png" width="50px" height="50px" alt=""> PANIER </a>


  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar  color="secondary" >

    <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button  >
      <mat-icon [routerLink]="'/catalog'">menu</mat-icon>
    </button>
    </div>


    <div fxShow="true" fxHide.lt-md="true" >
      <a mat-button [routerLink]="'/catalog'">Tout nos produits </a>
      <a mat-button [routerLink]="'/catalog'"> <img height="21,5px" width="21,5px" src="../assets/DaijaraBasicsIcon.png" alt=""> Daijara Basics </a>

      <a mat-button [routerLink]="'/accounts'">  <img src="../assets//ElectrinquePhotoIcon.png" alt=""> Electronique et photo </a>
      <a mat-button [routerLink]="'/create-account'"> <img src="../assets/cuisineIcon.png" alt=""> Cuisine, Ménage et Salon </a>
      <a mat-button [routerLink]="'/contacts'"> <img src="../assets/ordinateurIcon.png" alt=""> Ordinateur </a>
      <a mat-button [routerLink]="'/create-contact'"> <img src="../assets/BeautyIcon.png" alt=""> Beauté </a>
      <a mat-button [routerLink]="'/activities'"> <img src="../assets/LoisirsIcon.png" alt=""> Sports et Loisirs </a>
      <a mat-button [routerLink]="'/create-activity'"> <img src="../assets/cadeauIcon.png" alt=""> Idées et Cadeau </a>
      <a mat-button [routerLink]="'/create-activity'"> <img src="../assets/VoyageIcon.png" alt=""> Voyages </a>


    </div>

 </mat-toolbar>
<div class="container">
  <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="account-settings">
            <div class="user-profile">
              <div>
                <!-- <img class="brochure-poster" [src]="brochure.imageUrl" /> -->
                <!-- <img src="{{ user.photoUrl }}"> -->
                <img >
                 <img id="photoUrl" class="photoUrl"  width="140px">
              </div>

              <!-- <h5 class="name">{{ user.name }}</h5>
              <h6 class="email">{{ user.email }}</h6> -->
            </div>
            <div class="aboutt">
              <a  [routerLink]="'/changepwd'"  style="color: #f08d5f"  >Modifier Mot de passe</a>


            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " >
              <h6 class="primary" style="color: #2A2F46">Informations personelles</h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="name" class="name">Nom & Prénom</label>
                <input type="text" class="form-control btnn" id="name" placeholder="Nom & Prénom" >
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="email" class="email">E-mail</label>
                <input type="email" class="form-control btnn" id="email" placeholder="E-mail">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="phone" class="nom">Téléphone</label>
                <input type="text" class="form-control btnn" id="phone" placeholder="Enter votre numero portable">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-groupp">
                <label for="website" class="nom">Adresse complet</label>
                <input type="url" class="form-control btnn" id="website" placeholder="Adresse complet ">
              </div>
            </div>
          </div>

         <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="Street">Street</label>
                <input type="name" class="form-control btnn" id="Street" placeholder="Enter Street">
              </div>
            </div>  -->
           <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="ciTy">City</label>
                <input type="name" class="form-control btnn" id="ciTy" placeholder="Enter City">
              </div>
            </div> -->
            <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="sTate">State</label>
                <input type="text" class="form-control btnn" id="sTate" placeholder="Enter State">
              </div>
            </div>
        -->
          </div>
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="text-right">
                <button type="button" id="submit" name="submit" class="btn btn-secondary button">Annuler</button>
                <button type="button" id="submit" name="submit" class="btn btn-outline-warning button" [routerLink]="'/pfL/editL'">Modifier</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


