<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"  rel="stylesheet" type="text/css" />
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>

<table datatable [dtOptions]="dtOptions" style="width:100%"
  class="table table-striped stripe order-column table-bordered table-sm row-border compact hover nowrap cell-border">
  <thead>

    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Role</th>
      <th>CreatedAt</th>
      <th>UpdatedAt</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>

      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.createdAt }}</td>
      <td>{{ user.updatedAt }}</td>

      <td><button class="btn btn-success btn-sm" (click)="open(mymodal)">Add</button> </td>
      <td><button class="btn btn-danger btn-sm" (click)="open(mymodal)">Delete</button> </td>
      <ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add client </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    le client est un caca!
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>


      
     
      

    </tr>
  </tbody>
</table>