
<table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-sm row-border hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Role</th>
      <th>CreatedAt</th>
      <th>UpdatedAt</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.createdAt }}</td>
      <td>{{ user.updatedAt }}</td>

    </tr>
  </tbody>
</table>