
.dataTables_filter input[type="search"]:focus {
    border-color: #e96666;
    outline: 0;
   
}

@import 'https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css';

.container{
    margin-top:2%;
  }
  table .btn{
    margin: 2px;
  }
