<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title></title>
  </head>
  <body>
    <div id="logreg-forms">
      <form class="form-signin" *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate>
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">
          Se connecter
        </h1>
        <div class="social-login">
          <button class="btn facebook-btn social-btn" type="button">
            <span
              ><i class="fab fa-facebook-f"></i> Se connecter avec
              Facebook</span
            >
          </button>
          <button class="btn google-btn social-btn" type="button">
            <span
              ><i class="fab fa-google-plus-g"></i> Se connecter avec
              Gmail</span
            >
          </button>
        </div>
        <p style="text-align: center"></p>
        <input
        type="text"
        name="username"
        [(ngModel)]="form.username"
        required
        #username="ngModel"
          class="form-control"
          placeholder="Email address"

        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="username.errors && f.submitted"
        >
          Username is required!
        </div>
        <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="form.password"
        required
        minlength="6"
        #password="ngModel"
         placeholder="Password"

        />
        <div
        class="alert alert-danger"
        role="alert"
        *ngIf="password.errors && f.submitted"
      >
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">
          Password must be at least 6 characters
        </div>
      </div>

        <button
          
          class="btn btn-success btn-block"
          type="submit"
        >
          <i class="fas fa-sign-in-alt"></i> Connexion
        </button>

        <a href="/reset-password" id="forgot_pswd">Mot de passe oublié ?</a>
        <hr />
        <!-- <p>Don't have an account!</p>  -->
        <button
          [routerLink]="'/register'"
          class="btn btn-primary btn-block"
          type="button"
          id="btn-signup"
        >
          <i class="fas fa-user-plus"></i> Créer une compte
        </button>
      </form>

      <form action="/reset/password/" class="form-reset">
        <input
          type="email"
          id="resetEmail"
          class="form-control"
          placeholder="Email address"
          required=""
          autofocus=""
        />
        <button class="btn btn-primary btn-block" type="submit">
          Nouvelle Mot de passe
        </button>
        <a href="#" id="cancel_reset"
          ><i class="fas fa-angle-left"></i> Précéndent</a
        >
      </form>

      <form action="/signup/" class="form-signup">
        <div class="social-login">
          <button class="btn facebook-btn social-btn" type="button">
            <span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span>
          </button>
        </div>
        <div class="social-login">
          <button class="btn google-btn social-btn" type="button">
            <span><i class="fab fa-google-plus-g"></i> Sign up with Gmail</span>
          </button>
        </div>

        <p style="text-align: center">OR</p>

        <input
          type="text"
          id="user-name"
          class="form-control"
          placeholder="Full name"
          required=""
          autofocus=""
        />
        <input
          type="email"
          id="user-email"
          class="form-control"
          placeholder="Email address"
          required
          autofocus=""
        />
        <input
          type="password"
          id="user-pass"
          class="form-control"
          placeholder="Password"
          required
          autofocus=""
        />
        <input
          type="password"
          id="user-repeatpass"
          class="form-control"
          placeholder="Repeat Password"
          required
          autofocus=""
        />

        <button class="btn btn-primary btn-block" type="submit">
          <i class="fas fa-user-plus"></i> Sign Up
        </button>

        <a href="#" id="cancel_signup"
          ><i class="fas fa-angle-left"></i> Back</a
        >
      </form>
      <br />
    </div>
  </body>
</html>
