<mat-toolbar color="primary"  >
  <mat-toolbar-row>
    <img src="../assets/daijaraIcon.png" width=" 118,327px" alt="">
    <div fxShow="true" fxHide.lt-md="true"  class="input-group">
      <input  type="text" class="form-control" placeholder="Tout nos catégories">
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
    <img width="20px" height="20px" src="../assets/user.png" alt="">
    <a mat-button [routerLink]="'/login'">  S' IDENTIFIER </a>

    <a mat-button [routerLink]="'/cart'"> <img src="../assets/image.png" width="50px" height="50px" alt=""> PANIER </a>


  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar  color="secondary" >

    <div fxShow="true" fxHide.gt-sm="false">
    <button mat-icon-button  >
      <mat-icon [routerLink]="'/catalog'">menu</mat-icon>
    </button>
    </div>


    <div fxShow="true" fxHide.lt-md="true" >
      <a mat-button [routerLink]="'/catalog'">Tout nos produits </a>
      <a mat-button [routerLink]="'/catalog'"> <img height="21,5px" width="21,5px" src="../assets/DaijaraBasicsIcon.png" alt=""> Daijara Basics </a>

      <a mat-button [routerLink]="'/accounts'">  <img src="../assets//ElectrinquePhotoIcon.png" alt=""> Electronique et photo </a>
      <a mat-button [routerLink]="'/create-account'"> <img src="../assets/cuisineIcon.png" alt=""> Cuisine, Ménage et Salon </a>
      <a mat-button [routerLink]="'/contacts'"> <img src="../assets/ordinateurIcon.png" alt=""> Ordinateur </a>
      <a mat-button [routerLink]="'/create-contact'"> <img src="../assets/BeautyIcon.png" alt=""> Beauté </a>
      <a mat-button [routerLink]="'/activities'"> <img src="../assets/LoisirsIcon.png" alt=""> Sports et Loisirs </a>
      <a mat-button [routerLink]="'/create-activity'"> <img src="../assets/cadeauIcon.png" alt=""> Idées et Cadeau </a>
      <a mat-button [routerLink]="'/create-activity'"> <img src="../assets/VoyageIcon.png" alt=""> Voyages </a>


    </div>

 </mat-toolbar>

<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

<div class="form-gap"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <h2 class="text-center">Réinitialiser votre mot de passe</h2>
            <p>Vous pouvez réinitialiser votre mot de passe ici.</p>
            <div class="panel-body">

              <form id="forgot-form" autocomplete="off" class="form" method="post"  autocomplete="off"
                name="form"
                novalidate (ngSubmit)="onSubmit(form)" [formGroup]="form">

                <div class="form-group">
                  <div class="input-group">


                    <input formControlName="password" id="password" type="password" class="form-control"
                    placeholder="Mot de passe " [(ngModel)]="password"
                    >
                    <br>
                    <input  placeholder="Confirmer Mot de passe "
                    name="confirmpassword"
                    type="password" class="form-control" formControlName="password_confirmation" id="password_confirmation"
                    [(ngModel)]="confirmPassword" >

                  </div>
                </div>
                <div class="form-group">
                  <button [disabled]="form.invalid" type="submit" class="btn btn-primary btn-block">Confirmer</button>
                </div>
                <div class="form-group">
                  <a [routerLink]="['/login']">Connexion</a>
              </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Footer -->
<footer fxShow="false" fxHide.gt-sm="true" class="page-footer font-small unique-color-dark">

  <div class="icons-flag-container" style="background-color: #1A1A1A; height: 70px;">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <div class="col-md-6 col-lg-7 text-center text-md-right">

            <div class="icons-footer">
              <a mat-button [routerLink]="'/accounts'"><img src="../assets/twitter-16.png" class="fb-icon" alt=""> </a>
              <a mat-button [routerLink]="'/create-account'"><img src="../assets/message-16.png" class="tw-icon" alt=""> </a>
              <a mat-button [routerLink]="'/create-contact'"><img src="../assets/instagram-16.png"  class="gplus-icon" alt=""> </a>
              <a mat-button [routerLink]="'/activities'"> <img src="../assets/facebook-16.png"  class="li-icon" alt=""> </a>
              <a mat-button [routerLink]="'/create-activity'">   <img src="../assets/linkedin-2-16.png"  class="ins-icon" alt=""> </a>
            </div>
              </div>
              <div class="flag-footer">
                  <img width="20px" height="20px" src="../assets/tunisia.png" alt="">
             <select name="" id=""> <option value="">Tunisie</option><option value="">France</option></select>
               <select name="" id=""><option value="">Français</option></select>

        </div>
      </div>
  </div>

  <!-- Footer Links -->
  <div   style="background-color: #2A2F46; margin-top: -1.5%; ">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->

      <div class="col-md-2 col-lg-3 col-xl-2 mx-auto mb-4">


        <!-- Content -->
        <div>

          <ul class="ul-liste" >
            <li>        <img src="../assets/daijaraIcon.png" width="70,162 px" alt="">
            </li>
            <li> <label class="footer-title"> Via Daijara</label></li>
         <li> Carrières chez Daijara</li>
         <li>à propos de nous</li>
         <li> imprimer </li>
        </ul></div>


      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
       <div>
        <!-- Links -->
        <ul class="ul-liste" >
<br>
          <li>        <label class="footer-title"> Gagnez de l'argent avec Daijara</label>
          </li>
          <li> Programme d'affiliation</li>
          <li>Expédié par Daijara</li>
          <li>Prime par le vendeur </li>
          <li>Faites la promotion de vos produits</li>
          <li>Publiez votre livre avec nous
          </li>
         </ul>
        </div>



      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <div>
          <!-- Links -->

          <ul class="ul-liste" >
<br>
            <li>    <label class="footer-title"> Modes de paiement Daijara
            </label>      </li>
            <li> Shopping avec des points</li>
            <li>Cartes de crédit </li>
            <li>Pièces justificatives </li>
            <li>Facture mensuelle</li>
            <li>Prélèvement automatique </li>
            <li>Chargez mon compte Daijara </li>
           </ul>
          </div>



      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <div>
          <!-- Links -->
          <ul class="ul-liste" >
            <li><a  mat-button style="color:  #EB692D; font-weight: bold; font-family:  Helvetica;" href=""> Qui sommes nous ? </a> <a mat-button style="color:  #FFFFFF; font-weight: bold; font-family:  Helvetica;" href=""> Plan du site </a> <a mat-button style="color:  #FFFFFF; font-weight: bold; font-family:  Helvetica;" href="">Applis Daijara </a></li>
            <li><label class="footer-title"> Nous vous aidons</label></li>
            <li>Daijara et COVID-19</li>
            <li>Suivre la livraison</li>
            <li>Expédition et disponibilité</li>
            <li>Retour et remplacement</li>
            <li>Mon contenu et mes appareils</li>
            <li>Application</li>
            <li>Assistant Daijara </li>
            <li>Service Clients</li>
           </ul></div>
      </div>

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
    <mat-toolbar color="footerColor"  >


        <a mat-button [routerLink]="'/accounts'">  Nos conditions </a>
        <a mat-button [routerLink]="'/create-account'"> Protection des données </a>
        <a mat-button [routerLink]="'/contacts'">Imprimer </a>
        <a mat-button [routerLink]="'/create-contact'"> Remarque sur les cookies</a>
        <a mat-button [routerLink]="'/activities'"> Remarques sur la publicité ciblée par centres d'intérét  </a>
        <a mat-button [routerLink]="'/create-activity'"> Copyright © diajara 2021  </a>
        <a mat-button [routerLink]="'/create-activity'">  Powered by TunaFanya </a>

   </mat-toolbar>
  <!-- Copyright -->

</footer>
<!-- Footer -->