doctype html
html
    head
        title= Daijara

        link(rel='stylesheet', href='css/style.css')

    body
        table
            tr
                td.cell
                    img.image(src='cid:logo' alt='Daijara' title='Daijara')
       

       p | Bonjour #{username}! Veuillez cliquer sur le 
                        a(href="https://localhost:4200/resetpwd/#{token}") lien 
                        | indiqué pour réinitialiser votre mot de passe.
            