.container{
    margin-top:0%;
  }
 
  table .btn{
    font-size: 12px;
    width: 40px;
  }
  // .ng-template {
  //    margin-top: 10px;
  //    width: 30px;
  // }
  .btn1{
    font-size: 50px;

  }
  form{
    margin-top: 10px;
  }
  .btn-btn-bb{
    background-color: #ce6534 ;
}
body {
    font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
  }
  
.table {
    margin: 5px 0;
}
.table-wrapper {
	background: #fff;
	padding: 20px 25px;
	border-radius: 3px;
	min-width: 1000px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.table-title h2 {
	margin: 5px 0 0;
	font-size: 24px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
	padding: 20px 30px;
}
.modal-contentDetails {
	border-radius: 3px;
	font-size: 14px;
}
.modal-footer {
	background: #ecf0f1;
	border-radius: 0 0 3px 3px;
}
.modal .modal-title {
	display: inline-block;
}
.form-control {
	border-radius: 2px;
	box-shadow: none;
	border-color: #dddddd;
}
.border{
  padding: 10px;
}
// .btn{
//   margin-right: 10px;
// }
.fa {
  margin-right: 10px;
}