<table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>

    <tr>
      <th>ID</th>
      <th>Prix</th>
      <th>Date </th>
      <th>Quantité</th>
      <th>Status</th>
      <th>Adresse livraison</th>


      <th colspan="3" width="6%">
        Action
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cmd of cmds">
      <td><span>{{ cmd.id }}</span></td>
      <td><span>{{ cmd.prix }}</span></td>
      <td><span>{{ cmd.quantite }}</span></td>
      <td><span>{{ cmd.adresse_livraison }}</span></td>



      <td><button class="btn btn-success" (click)="openEdit(contentEdit, user)">
          <i class="fa fa-bell"></i> Notifier</button> </td>


      <td><button class="btn btn-primary btn-small " (click)="openDetails(contentDetails, user)"> <i
            class="fa fa-search"></i> </button> </td>

    </tr>
  </tbody>

</table>


<ng-template #contentDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">User's Details</h4>
    <button type="button" class="close" aria-label="Close" aria-hidden="true" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


    <form>
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group">
          <input id="email" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="role">Role</label>
        <div class="input-group">
          <input id="role" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="createdAt" for="dateOfBirth">CreatedAt</label>
        <div class="input-group">

          <input id="created" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">

        </div>
      </div>

      <div class="form-group">
        <label for="updatedAt" for="dateOfBirth">UpdatedAt</label>
        <div class="input-group">
          <input id="updated" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">

        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>