doctype html
html
    head
        title= Daijara

        link(rel='stylesheet', href='css/style.css')

    body
        table
            tr
                td.cell
                    img.image(src='cid:logo' alt='Daijara' title='Daijara')
            tr
                td.cell
                    h3
                        | Bonjour #{username} ! Vous êtes inscrit en tant qu'un : #{role} 
               
            tr         
                td.cell
                    h3  Merci pour votre inscription sur notre site Daijara.com! Veuillez cliquer sur le lien indiqué pour activer votre compte:
            
            tr
                td.cell
                    a(href="https://localhost:3000/signup/#{token}")
  