<table datatable [dtOptions]="dtOptions" style="width:100%"
  class="table table-bordered table-striped"  >
  <thead >
    <!-- <a href="/users"
    role="button"
    class="btn btn-outline-primary btn-lg btn-block text-center">
   <span><i class="fa fa-users"></i></span>
   <br>Users list
 </a> -->
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Téléphone</th>
      <th>Adresse</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <td><span>{{ client.id }}</span></td>

      <td><span>{{ client.nom	 }}</span></td>
      <td><span>{{ client.prenom }}</span></td>
      <td><span>{{ client.tel }}</span></td>
      <td><span>{{ client.adresse }}</span></td>

      <td><button class="btn btn-success " (click)="open(mymodal)">
        <i class="fa fa-plus"></i>Add</button> </td>
      <td><button class="btn btn-warning"  > 
        <i class="fa fa-edit"></i>Edit</button> </td>
      <td><button class="btn  btn-danger ">
        <i class="fa fa-remove"></i>Delete</button> </td>
      
      <ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add client </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form">
      <label for="dateOfBirth">CreatedAt</label>
      <div class="input-group">
        <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="dateOfBirth">UpdatedAt
      </label>
      <div class="input-group">
        <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal-footer">

    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>


      
     
      

    </tr>
  </tbody>
</table>

