

<div class="container">


<div class="row justify-content-center">
<div class="col-md-6">
<div class="card">
<header class="card-header">

	<h4 class="card-title mt-2">Inscrivez vous</h4>
</header>
<article class="card-body">
<form *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate>

	<div class="form-row">
		<div class="col form-group">
			<label>Nom & Prénom</label>
		  	<input placeholder=""  type="text"
			  class="form-control"
			  name="username"
			  [(ngModel)]="form.username"
			  required
			  minlength="3"
			  maxlength="50"
			  #username="ngModel">
			  <div class="alert-danger" *ngIf="username.errors && f.submitted">
				<div *ngIf="username.errors.required">Username is required</div>
				<div *ngIf="username.errors.minlength">
				  Username must be at least 3 characters
				</div>
				<div *ngIf="username.errors.maxlength">
				  Username must be at most 20 characters
				</div>
			  </div>

		</div> <!-- form-group end.// -->

	</div> <!-- form-row end.// -->
	<div class="form-group">
		<label> Adresse E-mail</label>
		<input  placeholder="" type="email"
		class="form-control"
		name="email"
		[(ngModel)]="form.email"
		required
		email
		#email="ngModel"
		>
		<div class="alert-danger" *ngIf="email.errors && f.submitted">
			<div *ngIf="email.errors.required">Email is required</div>
			<div *ngIf="email.errors.email">
			  Email must be a valid email address
			</div>
		  </div>
		<small class="form-text text-muted">Nous ne partagerons jamais votre e-mail avec qui que ce soit.</small>
	</div> <!-- form-group end.// -->
	<div class="form-group col-md-6">
		<label>Role</label>

		<select id="role" class="form-control"
		name="role"
		[(ngModel)]="form.role"
		#role="ngModel">
		  <option selected=""> Choisir...</option>
			<option>Livreur</option>
			<option >Client</option>

		</select>
	  </div>


	<div class="form-group">
		<label>Créer votre mot de passe</label>
	    <input  type="password"
		class="form-control"
		name="password"
		[(ngModel)]="form.password"
		required
		minlength="6"
		#password="ngModel">
		<div class="alert-danger" *ngIf="password.errors && f.submitted">
			<div *ngIf="password.errors.required">Password is required</div>
			<div *ngIf="password.errors.minlength">
			  Password must be at least 6 characters
			</div>
		  </div>
	</div> <!-- form-group end.// -->

    <div class="form-group">
        <button  type="submit" class="btn btn-primary btn-block"> S'inscrire </button>
  <!-- form-group// -->

    </div>
    <small class="text-muted">En cliquant sur le bouton `` S'inscrire '', vous confirmez que vous acceptez notre
		Conditions d'utilisation et politique de confidentialité.</small>
		<div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
			Signup failed!<br />{{ errorMessage }}
		  </div>

</form>

<div class="alert alert-success" *ngIf="isSuccessful">
  Your registration is successful!
  </div>
</article> <!-- card-body end .// -->
<div class="border-top card-body text-center">Have an account? <a href="/login">Log In</a></div>
</div> <!-- card.// -->
</div> <!-- col.//-->

</div> <!-- row.//-->


</div>
<!--container end.//-->

<br><br>
